@tailwind base;
@tailwind components;
@tailwind utilities;

.default-shadow{
    box-shadow: 0px 0px 3px #000;
}

.swiper-pagination{
    position: relative !important;
    margin-top: 40px;
}
.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(146% + 1.3px);
    height: 346px;
}

.custom-shape-divider-bottom .shape-fill {
    fill: #FFFFFF;
}

